/* Loader */

.lds-dual-ring {
  display: block;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #0984e3;
  border-color: #0984e3 transparent #0984e3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------------------------------------- */
/* HeroMenu */
/* ----------------------------------------------------------------------------- */

.heroMenu {
  display: none;
}

@media (min-width: 1024px) {
  .heroMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border: 1px solid white;
    z-index: 4;
    display: block;
  }
  .heroMenu ul {
    display: flex;
    justify-content: center;
    padding: 0 25%;
    height: 100%;
    list-style: none;
  }

  .heroMenu a {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-size: 25px;
    padding: 20px;
    color: white;
    transition: 0.3s;
  }
  .heroMenu:hover a {
    color: #0984e3;
  }
}

.HeroWrap {
  min-height: 101vh;
  background-color: #ddd;
}

.heroMenu a:hover {
  background-color: white;
}
/* ----------------------------------------------------------------------------- */
/* Overview */
/* ----------------------------------------------------------------------------- */

article {
  padding: 50px 0;
  position: relative;
  background-color: #ddd;
}

.overview {
  height: 120vh;
  min-height: 600px;
  background-color: #ddd;
  position: relative;
}
.title {
  position: absolute;
  top: 100px;
  width: 100vw;
  z-index: 4;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  box-shadow: 0 0 10px -6px #333;
}

img.splash {
  z-index: 3;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: calc(50% + 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 16px -8px #333;
}

.name {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 12px;
  text-align: center;
}

.blurb {
  display: none;
}

@media (min-width: 1024px) {
  article {
    padding: 120px 15vw;
    position: static;
  }

  .overview {
    padding-top: 220px;
  }

  div.wrapOverview {
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
    grid-auto-rows: minmax(50px, auto);
  }

  .title {
    grid-column: 1/3;
    grid-row: 1/2;
    transform: translate(-20%, -20%);
    padding: 50px 20px;
    font-size: 18px;
    position: static;
    top: 0;
    width: unset;
  }

  img.splash {
    grid-column: 1/6;
    grid-row: 1/4;
    justify-self: stretch;
    position: static;
    min-height: unset;
    min-width: unset;
    height: unset;
    width: unset;
    z-index: 0;
    transform: none;
  }
  .name {
    grid-column: 2/5;
    grid-row: 2/3;
    z-index: 2;
    letter-spacing: 8px;
    font-size: 100px;
    position: static;
    transform: none;
    width: unset;
  }

  .blurb {
    z-index: 2;
    background-color: white;
    grid-column: 4/6;
    grid-row: 3/4;
    font-size: 14px;
    padding: 20px;
    transform: translate(20%, 20%);
    height: unset;
    width: unset;
    display: block;
    position: static;
    z-index: 4;
    background-color: white;
    box-shadow: 0 0 10px -6px #333;
  }
}

@media (min-width: 1360px) {
  .title {
    font-size: 18px;
  }

  .blurb {
    font-size: 18px;
  }
  .name {
    font-size: 60px;
  }
}

@media (min-width: 1408px) {
  .title {
    font-size: 30px;
  }

  .blurb {
    font-size: 22px;
  }
  .name {
    font-size: 120px;
  }
}

/* ----------------------------------------------------------------------------- */
/* Hero roles */
/* ----------------------------------------------------------------------------- */

h1.role {
  font-size: 60px;
  text-align: center;
  color: #0984e3;
  font-weight: bold;
  padding: 50px 0;
}

.wrapRoles {
  display: flex;
  flex-direction: column;
  height: 50vh;
  min-height: 500px;
  background-color: white;
  justify-content: space-around;
  padding: 20px;
  box-shadow: 0 0 10px -6px #333;
  margin: 50px 30px;
}

.bar {
  text-transform: uppercase;
  background-color: #0984e3;
  height: 50px;
  color: white;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 100px;
}

@media (min-width: 1024px) {
  .bar {
    font-size: 20px;
  }
}

/* ----------------------------------------------------------------------------- */
/* Story Section */
/* ----------------------------------------------------------------------------- */
div.story {
  background-color: white;
  box-shadow: -20px -20px #ccc;
  padding: 10px;
  margin: 50px 30px;
}

.story__title {
  padding: 20px;
  color: #0984e3;
  font-weight: bold;
  font-size: 60px;
}

p.story {
  text-align: justify;
  font-size: 20px;
}

@media (min-width: 1024px) {
  div.story {
    margin: 0;
    padding: 20px;
  }
  p.story {
    text-align: justify;
    font-size: 30px;
    padding: 10px;
  }
}

/* ----------------------------------------------------------------------------- */
/* Skills Section */
/* ----------------------------------------------------------------------------- */

.skills__title {
  font-size: 60px;
  font-weight: bold;
  color: #0984e3;
  padding: 50px 0;
  text-align: center;
}

.skillsWrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 10px;
}

.skillsWrap div {
  margin: 10px 10px;
  border: 2px solid #0984e3;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px -6px #333;
}

.skillsWrap h2 {
  padding: 5px 0;
  font-size: 16px;
}

.skillsWrap p {
  padding: 5px 0;
  text-align: left;
  font-size: 18px;
}

.skillsWrap img {
  padding: 5px 0;
}

@media (min-width: 800px) {
  .skillsWrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  article:nth-child(4) {
    padding-bottom: 100px;
  }

  .skillsWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .skillsWrap div {
    padding: 20px;
    background-color: white;
    margin: 0;
  }

  .skillsWrap h2 {
    padding: 10px;
    font-size: 25px;
  }

  .skillsWrap p {
    padding: 10px;
    text-align: justify;
    font-size: 20px;
  }

  .skillsWrap img {
    padding: 10px;
  }
}
