.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.home__article {
  width: 100%;
  background-color: white;
  min-height: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__title {
  padding: 50px 20px;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  background-color: #ddd;
  font-weight: bold;
  color: white;
}

.home__description {
  font-size: 40px;
  font-weight: bold;
  text-align: justify;
  padding: 20px 0;
}

.home__description--mute {
  font-size: 20px;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .home {
    display: flex;
    min-height: calc(100vh - 100px);
    flex-direction: row;
  }

  .home__article {
    width: 50%;
    background-color: white;
    min-height: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .home__title {
    padding: 50px 20px;
    width: 50%;
    min-height: 100%;
    text-align: center;
    font-size: 130px;
    letter-spacing: 2px;
    background-color: #ddd;
    font-weight: bold;
    color: white;
  }

  .home__description {
    font-size: 40px;
    font-weight: bold;
    text-align: justify;
    padding: 20px 0;
  }

  .home__description--mute {
    font-size: 20px;
  }
}
