.mainMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 3;
  padding-top: 10px;
}
.mainMenu ul {
  width: 50%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  list-style: none;
}

.strip {
  position: absolute;
  top: 0;
  height: 10px;
  width: 100%;
  left: 0;
  background: linear-gradient(to right, #3c7974, #f4de93);
}

.mainMenu a {
  font-size: 16px;
  transition: 0.2s;
}
.mainMenu a:hover {
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .mainMenu ul {
    width: 80%;
  }
  .mainMenu a {
    font-size: 14px;
  }
}
