@media (min-width: 1024px) {
  .player {
    border: 2px solid white;
    margin-top: 50px;
    position: relative;
    border-radius: 5px;
  }

  .playerName {
    border-bottom: 2px solid white;
    height: 100px;
    line-height: 100px;
    padding: 0;
    text-align: center;
    background-color: #ccc;
  }

  .player img {
    position: absolute;
    top: 25px;
    left: 50px;
    border: 2px solid white;
    height: 150px;
    width: 150px;
    border-radius: 75px;
  }

  .player h2 {
    padding: 20px;
  }
  .player h2:nth-of-type(1) {
    margin-top: 100px;
  }
}
