.search__instruction {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  padding: 0 10%;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
  font-weight: bold;
  min-height: 50vh;
  text-align: center;
}

.search {
  min-height: 100vh;
}

.search__form {
  position: absolute;
  /* top: var(--menuHeight); */
  left: 0;
  top: 0;
  height: 50vh;
  width: 100%;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 10px -4px #333;
}

.form__button {
  width: 200px;
  height: 60px;
  background-color: white;
  border: 2px solid #0984e3;
  box-shadow: -10px 10px white;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;
  color: #0984e3;
}

.form__button:hover {
  background-color: #ccc;
}

.search input {
  margin: 50px;
  height: 40px;
  border: none;
  border-bottom: 3px solid white;
  background-color: #ddd;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 40vw;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.form__h1 {
  padding: 50px 0;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
}

/* Desktop */
@media (min-width: 1024px) {
  .search__instruction {
    left: 30%;
    width: 70%;
    padding: 0 10%;
    height: calc(100vh - var(--menuHeight));
    top: 0;
    min-height: unset;
    font-size: 100px;
  }

  .search {
    height: calc(100vh - var(--menuHeight));
    min-height: unset;
  }

  .search__form {
    position: fixed;
    /* top: var(--menuHeight); */
    left: 0;
    width: 30%;
    height: calc(100vh - var(--menuHeight));
    min-height: unset;
  }

  .form__button {
    width: 200px;
    height: 60px;
  }

  .form__button:hover {
    background-color: #ccc;
  }

  .search input {
    margin: 50px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 20vw;
    font-size: 25px;
  }

  .form__h1 {
    padding: 50px 0;
    font-size: 40px;
  }
}
